# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data directories
data/
raw_data/
AneRBC_raw_data/

# Model checkpoints
saved_models/
*.pth
*.pkl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints